{
    # Opcje globalne - działają dla obu środowisk
    email {$LETSENCRYPT_EMAIL}
}

# N8N
{$N8N_HOSTNAME} {
    # Dla domen Caddy automatycznie użyje Let's Encrypt
    # Dla adresów localhost/port HTTPS nie będzie włączony
    reverse_proxy n8n:5678
}

# Supabase
{$SUPABASE_HOSTNAME} {
    reverse_proxy kong:8000
}

import /etc/caddy/addons/*.conf